
  <div class="row">
          <input type="text" id="caneta" name="caneta" [(ngModel)]="qtdCanetas" (ngModelChange)="searchFilterCanetas($event)" class="form-control"
              tooltip="Qtd Canetas Vendidas"  placeholder="{{placeholder1}}" (keyup)="searchFilterCanetas($event)" [disabled]="!disabledCampoCaneta">
          <input type="text" id="caderno" name="caderno"  [(ngModel)]="qtdCadernos" (ngModelChange)="searchFilterCadernos($event)" class="form-control"
            tooltip="Qtd Cadernos Vendidos" placeholder="{{placeholder2}}" (keyup)="searchFilterCadernos($event)"  [disabled]="!disabledCampoCaderno">
      <button class="btn btn-md" (click)="filtrarDados()" >
        Filtrar Dados
      </button>
  </div>
  <highcharts-chart
    #chart
    [Highcharts] = "highcharts" 
    [callbackFunction]="chartCallback"
    [options] = "chartOptions"
    [(update)]="updateFlag"
    style = "width: 100%; display: block;">
  </highcharts-chart>
